@page "/vista"
<h1>Bienvenido a la hora elaboral que desea realizar</h1>
<thead>
  <button class="btn btn-primary"@onclick="Productos">Registrar productos</button> <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th> 
<button  class="btn btn-primary"@onclick="Ventas">Realizar Ventas</button>  
</thead>
<br>
<th class="btn btn-primary" @onclick="Salir">Salir</th>


@code
{
    public void Productos()
    {
    
    Cambio.NavigateTo("/Productos");

}
  public void Ventas(){
    
    Cambio.NavigateTo("/Listar");

}
public void Salir(){
    
    Cambio.NavigateTo("/Login");

}
}